<%= form_tag(search_whitelist_index_path, method: :get) do %>
  <%= label_tag(:postcode, "Postcode:") %>
  <%= text_field_tag(:postcode) %>
  <%= submit_tag("Search") %>
<% end %>

</div>
<div>
  <% if @whitelist.present? %>
    <div>
    <%= @whitelist.postcode %>
    </div>
    <div>
    <%= @whitelist.source %>
    </div>
    <div>
    <%= @whitelist.available_postcode? %>
    </div>
  <% end %>
</div>
