<div class="row">
  <div class="col s12">
    <div class="row">
      <div class="input-field col s6 offset-s3">
        <%= form_with model: @postcode, local: true do |form| %>
          <% if @postcode.errors.any? %>
              <ul>
                <% @postcode.errors.full_messages.each do |msg| %>
                  <li><p style="color: red"><%= msg %></p></li>
                <% end %>
              </ul>
          <% end %>
          <p>
            <%= form.label :postcode %><br>
            <%= form.text_field :value %>
          </p>
          <p>
            <%= form.submit(class: 'btn', style: 'width: 100%') %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
